# Default behaviour, for if core.autocrlf isn't set
* text=auto

# Shell scripts, autoconf, etc. must have LF endings, even on Windows
*.sh text eol=lf
*.zsh text eol=lf
configure text eol=lf
configure.ac text eol=lf
msvs-detect text eol=lf
check_linker text eol=lf
*.m4 text eol=lf

# Treat patches as binary for safety
*.patch binary

# Actual binary files
*.pdf binary
