_obuild/
src_ext/cudf/
src_ext/dose/
src_ext/extlib/
src_ext/ocaml-re/
src_ext/ocamlgraph/
src_ext/ocaml-arg/
src/lexer.ml
src/linelexer.ml
src/parser.ml
src/parser.mli
*.tar.bz2
*.annot
*.tar.gz
*~
ocp-build.root
ocp-build.root.old
ocp-get
ocp-get-server
